{{ form_start(form, {attr: {class: 'card w-50 mx-auto'}}) }}

{# If we pass form globally in the widget like this, we get the entire form #}
{{ form_widget(form) }}
<button type="submit" class="btn btn-primary">{{ buttonLabel|default('save') }}
</button>
{{ form_end(form) }}
