{% extends 'base.html.twig' %}

{% block title %}
	Rédation d'un Article
{% endblock %}

{% block body %}
	<h1>Rédiger un article</h1>
	{{ form_start(form) }}
	{{ form_widget(form) }}
	<button type="submit">Créer</button>
	{{ form_end(form) }}
{% endblock %}
