{% extends 'base.html.twig' %}

{% block title %}
	Modification d'un Article
	{{ parent() }}
{% endblock %}

{% block body %}
	<section class="container mt-2">
		<h1>Modifier un article</h1>
		{% include 'Backend/Article/_form.html.twig' with { buttonLabel: "Publier la Modification"} %}
	</section>
{% endblock %}
