.text-center {
    text-align: center;
}

// adding this classes 'cause we didn't import bootstrap utils
.text {
    &-success {
        color: $success;
    }

    &-danger {
        color: $danger;
    }
}

.mx-auto {
    margin-inline: auto;
}

.w-25 {
    width: 25%;
}

.w-50 {
    width: 50%;
}

.w-75 {
    width: 75%;
}

.w-100 {
    width: 100%;
}

$place: (
    "top": "t",
    "right": "e",
    "bottom": "b",
    "left": "s"
);

@each $key, $value in $place {
    @for $i from 1 through 5 {

        // loop for the margin
        .m#{$value}-#{$i} {
            margin-#{$key}: #{$i * 0.5}em;
        }

        // loop for the padding
        .p#{$value}-#{$i} {
            padding-#{$key}: #{$i * .5}em;
        }
    }
}

.badge {
    border-radius: $border-radius;
    padding: .5em 1em;

    &-list {
        @include flex(flex-start, center, $gap: .5em)
    }
}

.bg {
    &-primary {
        background: $primary;
    }

    &-secondary {
        background: $secondary;
    }
}