<header class="navbar">
	<nav
		class="container navbar-content">
		{# container for bootstrap #}
		<a href="#" class="navbar-logo">My first Symfo App</a>
		<ul class="navbar-links">
			<li class="navbar-link">
				<a href="#" class="active">Home</a>
			</li>
			<li class="navbar-link">
				<a href="#">Articles</a>
			</li>
		</ul>
		<ul class="navbar-btn-links">
			<li class="navban-btn-link">
				<a href="#" class="btn btn-secondary">Se connecter</a>
			</li>
		</ul>
	</nav>
</header>
