<header class="navbar">
	<nav
		class="container navbar-content">
		{# container for bootstrap #}
		<a href="#" class="navbar-logo">My first Symfo App</a>
		<ul class="navbar-links">
			<li class="navbar-link">
				<a href="#" class="active">Home</a>
			</li>
			<li class="navbar-link">
				<a href="#">Articles</a>
			</li>
		</ul>
		<ul class="navbar-btn-links">
			<li
				class="navban-btn-link">
				{#{{ dump(app.user) }}#}
				{% if app.user %}
					<a href="/logout" data-turbo="false" class="btn btn-danger">Se Déconnecter</a>
				{% else %}
					<a href="{{ path('app.login') }}" class="btn btn-secondary">Se Connecter</a>
				{% endif %}
			</li>
		</ul>
	</nav>
</header>
